<a href="https://colab.research.google.com/github/preetamjumech/No-sql-MongoDB/blob/main/Preetam_Saha_C22018_07_06_2022_D1_MongoDB_Local_CRUD_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Based on https://github.com/giffy/MongoDB_PyMongo_Tutorial

#Installs

In [1]:
from pymongo import MongoClient
import pandas as pd
import dateutil

In [2]:
!apt install mongodb > /dev/null
 
#Local Server Need Not be started for Remote Operations
!service mongodb start

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

 * Starting database mongodb
   ...done.

In [3]:
mongoURI = "mongodb://localhost:27017/"
client = MongoClient(mongoURI)
client.list_database_names() # ['admin', 'local']

['admin', 'local']

# Create Database objects

In [4]:
# Database PraxisDB will be created only when we create collections, or documents in it
mongoURI = "mongodb://localhost:27017/"
client = MongoClient(mongoURI)
client.list_database_names()

['admin', 'local']

In [5]:
# Delete a database
client.drop_database('PraxisDB')

In [6]:
# Create a new collection. We can create the collection or leave to MongoDB to create it as soon as a document is generated.
db = client.PraxisDB
db.create_collection('addresses')       # Optional collection creation

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'PraxisDB'), 'addresses')

In [7]:
# Show Collections. Query returns a Cursor [ ] ,  list it to see the content
list (db.list_collections())
# empty list '[]' means that there are not collections in database

[{'idIndex': {'key': {'_id': 1},
   'name': '_id_',
   'ns': 'PraxisDB.addresses',
   'v': 2},
  'info': {'readOnly': False,
   'uuid': Binary(b'B\x06\\\xa5\xc1%@L\xaa\x18\xdd\xda\x93\x97\xb3A', 4)},
  'name': 'addresses',
  'options': {},
  'type': 'collection'}]

In [8]:
# Set the collection to work with
kollection = db.addresses
kollection.insert_one({'name' : 'Preetam'})     # Insert one item to create the collection
list (kollection.find())                  # Show the existing collections

[{'_id': ObjectId('629f25309dd47aaf939d59a3'), 'name': 'Preetam'}]

In [9]:
# Rename a collections
db.addresses.rename('addressbook')
kollection2 = db.addressbook                   # Set the collection to work with
list (db.list_collections())                  # Show the existing collections

[{'idIndex': {'key': {'_id': 1},
   'name': '_id_',
   'ns': 'PraxisDB.addressbook',
   'v': 2},
  'info': {'readOnly': False,
   'uuid': Binary(b'B\x06\\\xa5\xc1%@L\xaa\x18\xdd\xda\x93\x97\xb3A', 4)},
  'name': 'addressbook',
  'options': {},
  'type': 'collection'}]

In [10]:
# Delete collection
db.drop_collection('addressbook')

{'nIndexesWas': 1, 'ns': 'PraxisDB.addressbook', 'ok': 1.0}

In [11]:
client.list_database_names()

['admin', 'config', 'local']

# Operations

## Single Row Insert

In [12]:
cDoc1 = {  'name' : 'Preetam' ,                                     # String 
          'age' : '32',                                             # Integer
          'gender' : 'Male',                                        # String 
          'likes_code' : True,                                      # Boolean
          'address': {
              'street' : 'Garia',                          # String ( special character with escape \ )
              'number' : 36,                                        # Integer
              'city' : 'Kolkata',                                   # String 
              'floor' : None,                                       # Null 
              'postalcode' : '700084',                              # String containing a number
              },
          'favouritefruits': ['apple','pineapple','orange']         # Array        
       }

In [13]:
# Define database, collection etc
db = client.PraxisDB
# Delete collection
db.drop_collection('AddressBook')
db.create_collection('AddressBook')       # Optional collection creation 
kollection3 = db.AddressBook                   # Set the collection to work with
insert_result = kollection3.insert_one( cDoc1)
insert_result.acknowledged    # Confirms that insert is successful

True

In [14]:
insert_result.inserted_id     # Shows the document ID

ObjectId('629f26109dd47aaf939d59a4')

In [15]:
db.AddressBook.find()  # returns a cursor

In [16]:
#c = db.AddressBook.find()
c = kollection3.find()
for crnt in c:
    print(crnt)

{'_id': ObjectId('629f26109dd47aaf939d59a4'), 'name': 'Preetam', 'age': '32', 'gender': 'Male', 'likes_code': True, 'address': {'street': 'Garia', 'number': 36, 'city': 'Kolkata', 'floor': None, 'postalcode': '700084'}, 'favouritefruits': ['apple', 'pineapple', 'orange']}

In [17]:
cDoc2 = {  'name' : 'Rachel' ,                                     # String 
          'age' : '31',                                             # Integer
          'gender' : 'Female',                                        # String 
          'likes_code' : False,                                      # Boolean
          'address': {
              'street' : None,                          # String ( special character with escape \ )
              'number' : None,                                        # Integer
              'city' : 'Kolkata',                                   # String 
              'floor' : None,                                       # Null 
              'postalcode' : '700001',                              # String containing a number
              },
          'favouritefruits': ['apple','guava','mango']         # Array        
       }

In [18]:
insert_result = kollection3.insert_one( cDoc2)
insert_result.acknowledged    # Confirms that insert is successful

True

In [19]:
#c = db.AddressBook.find()
c = kollection3.find()
for crnt in c:
    print(crnt)

{'_id': ObjectId('629f26109dd47aaf939d59a4'), 'name': 'Preetam', 'age': '32', 'gender': 'Male', 'likes_code': True, 'address': {'street': 'Garia', 'number': 36, 'city': 'Kolkata', 'floor': None, 'postalcode': '700084'}, 'favouritefruits': ['apple', 'pineapple', 'orange']}
{'_id': ObjectId('629f26e79dd47aaf939d59a5'), 'name': 'Rachel', 'age': '31', 'gender': 'Female', 'likes_code': False, 'address': {'street': None, 'number': None, 'city': 'Kolkata', 'floor': None, 'postalcode': '700001'}, 'favouritefruits': ['apple', 'guava', 'mango']}

In [20]:
cDoc3 = {  'name' : 'Narendra' ,                                     # String 
          'age' : '67',                                             # Integer
          'gender' : 'Male',                                        # String 
          'likes_code' : False,                                      # Boolean
          'address': {
              'street' : None,                          # String ( special character with escape \ )
              'number' : None,                                        # Integer
              'city' : 'Delhi',                                   # String 
              'floor' : None,                                       # Null 
              'postalcode' : '700001',                              # String containing a number
              },
          'favouritefruits': ['apple','guava','mango']         # Array        
       }

cDoc4 = {  'name' : 'Aditya' ,                                     # String 
          'age' : '47',                                             # Integer
          'gender' : 'Male',                                        # String 
          'likes_code' : False,                                      # Boolean
          'address': {
              'street' : None,                          # String ( special character with escape \ )
              'number' : None,                                        # Integer
              'city' : 'Lucknow',                                   # String 
              'floor' : None,                                       # Null 
              'postalcode' : '700001',                              # String containing a number
              },
          'favouritefruits': ['apple','guava','mango']         # Array        
       }

In [21]:
insert_result = kollection3.insert_many([cDoc3,cDoc4])

In [22]:
#c = db.AddressBook.find()
c = kollection3.find()
for crnt in c:
    print(crnt)

{'_id': ObjectId('629f26109dd47aaf939d59a4'), 'name': 'Preetam', 'age': '32', 'gender': 'Male', 'likes_code': True, 'address': {'street': 'Garia', 'number': 36, 'city': 'Kolkata', 'floor': None, 'postalcode': '700084'}, 'favouritefruits': ['apple', 'pineapple', 'orange']}
{'_id': ObjectId('629f26e79dd47aaf939d59a5'), 'name': 'Rachel', 'age': '31', 'gender': 'Female', 'likes_code': False, 'address': {'street': None, 'number': None, 'city': 'Kolkata', 'floor': None, 'postalcode': '700001'}, 'favouritefruits': ['apple', 'guava', 'mango']}
{'_id': ObjectId('629f27239dd47aaf939d59a6'), 'name': 'Narendra', 'age': '67', 'gender': 'Male', 'likes_code': False, 'address': {'street': None, 'number': None, 'city': 'Delhi', 'floor': None, 'postalcode': '700001'}, 'favouritefruits': ['apple', 'guava', 'mango']}
{'_id': ObjectId('629f27239dd47aaf939d59a7'), 'name': 'Aditya', 'age': '47', 'gender': 'Male', 'likes_code': False, 'address': {'street': None, 'number': None, 'city': 'Lucknow', 'floor': None, 'postalcode': '700001'}, 'favouritefruits': ['apple', 'guava', 'mango']}

## Read

In [24]:
#kollection3.find() # cursur
list(kollection3.find())

[{'_id': ObjectId('629f26109dd47aaf939d59a4'),
  'address': {'city': 'Kolkata',
   'floor': None,
   'number': 36,
   'postalcode': '700084',
   'street': 'Garia'},
  'age': '32',
  'favouritefruits': ['apple', 'pineapple', 'orange'],
  'gender': 'Male',
  'likes_code': True,
  'name': 'Preetam'},
 {'_id': ObjectId('629f26e79dd47aaf939d59a5'),
  'address': {'city': 'Kolkata',
   'floor': None,
   'number': None,
   'postalcode': '700001',
   'street': None},
  'age': '31',
  'favouritefruits': ['apple', 'guava', 'mango'],
  'gender': 'Female',
  'likes_code': False,
  'name': 'Rachel'},
 {'_id': ObjectId('629f27239dd47aaf939d59a6'),
  'address': {'city': 'Delhi',
   'floor': None,
   'number': None,
   'postalcode': '700001',
   'street': None},
  'age': '67',
  'favouritefruits': ['apple', 'guava', 'mango'],
  'gender': 'Male',
  'likes_code': False,
  'name': 'Narendra'},
 {'_id': ObjectId('629f27239dd47aaf939d59a7'),
  'address': {'city': 'Lucknow',
   'floor': None,
   'number': None,
   'postalcode': '700001',
   'street': None},
  'age': '47',
  'favouritefruits': ['apple', 'guava', 'mango'],
  'gender': 'Male',
  'likes_code': False,
  'name': 'Aditya'}]

In [25]:
#list ( collection.find( {'name' : 'Charanpreet' } ))   
list ( kollection3.find( {'name' : 'Preetam' } ))

[{'_id': ObjectId('629f26109dd47aaf939d59a4'),
  'address': {'city': 'Kolkata',
   'floor': None,
   'number': 36,
   'postalcode': '700084',
   'street': 'Garia'},
  'age': '32',
  'favouritefruits': ['apple', 'pineapple', 'orange'],
  'gender': 'Male',
  'likes_code': True,
  'name': 'Preetam'}]

In [29]:
list ( kollection3.find( {'address.postalcode' : '700084' } ))             # find, can use one key or more

[{'_id': ObjectId('629f26109dd47aaf939d59a4'),
  'address': {'city': 'Kolkata',
   'floor': None,
   'number': 36,
   'postalcode': '700084',
   'street': 'Garia'},
  'age': '32',
  'favouritefruits': ['apple', 'pineapple', 'orange'],
  'gender': 'Male',
  'likes_code': True,
  'name': 'Preetam'}]

## Update

In [31]:
## Update an existing document
update_result = kollection3.update_one( 
    {'name' : 'Preetam'}, 
    {'$set' : { 'age' : 101 }} ) 

list (kollection3.find( {'name' : 'Preetam' } ))

# Alternative : collection.find_one_and_update( {'name' : Name}, {'$set' : { 'age' : 30 }} )

[{'_id': ObjectId('629f26109dd47aaf939d59a4'),
  'address': {'city': 'Kolkata',
   'floor': None,
   'number': 36,
   'postalcode': '700084',
   'street': 'Garia'},
  'age': 101,
  'favouritefruits': ['apple', 'pineapple', 'orange'],
  'gender': 'Male',
  'likes_code': True,
  'name': 'Preetam'}]

In [32]:
## Update an existing document
update_result = kollection3.update_one( 
    {'name' : 'Preetam'}, 
    {'$set' : { 'name' : 'Preetam Saha' }} ) 

list (kollection3.find( {'name' : 'Preetam Saha' } ))

[{'_id': ObjectId('629f26109dd47aaf939d59a4'),
  'address': {'city': 'Kolkata',
   'floor': None,
   'number': 36,
   'postalcode': '700084',
   'street': 'Garia'},
  'age': 101,
  'favouritefruits': ['apple', 'pineapple', 'orange'],
  'gender': 'Male',
  'likes_code': True,
  'name': 'Preetam Saha'}]

## Additional stuff 
https://www.analyticsvidhya.com/blog/2020/02/mongodb-in-python-tutorial-for-beginners-using-pymongo/